h1 {
    color: red;
    text-align: center;
    background-color:antiquewhite;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
}

.tsv {
    border: 2px solid gainsboro;
    border-radius: 6px;
    max-width: 500px;
    margin: 20px auto;
}

label {
    display: block;
    margin: 20px 0 4px 0;
    font-weight: bold;
}

form {
    padding: 20px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid gainsboro;
}

.radio {
    display: flex;
    margin-top: 10px;
    width: 30%;
}

button {
    display: block;
    margin: 20px 0 0 auto;
    padding: 8px 25px;
    font: bold 15px sans-serif;
    color: white;
    background: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 4px;
}

button:hover {
    background: #005f79;
}

table {
    width: 80%;
    margin: 100px auto;
    border-collapse: collapse;
    border-radius: 6px;
}

table caption {
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: lightgray;
    color: black;
}

tr:hover td {
    border-bottom: 2px solid black;
}

h1, .tsv, table {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}